@import "../../colors";

$borderBottomHeight: 0.0625rem solid;

header {
  height: 4.375rem;
  z-index: 2;
  &.light {
    background: $header-background-color-light;
    border-bottom: $borderBottomHeight $border-bottom-light;
  }
  &.dark {
    background: $header-background-color-dark;
    border-bottom: $borderBottomHeight $border-bottom-dark;
  }
  a {
    &.light {
      button {
        background: $link-background-color-light;
      }
    }
    &.dark {
      button {
        background: $link-background-color-dark;
      }
    }
    img {
      height: 2.1875rem;
    }
  }
}
