img {
  top: 1.25rem;
  left: 1.25rem;
  width: 3.125rem;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.875rem, 1fr));
  gap: 1.25rem 0.625rem;
  padding: 5.625rem 0 2.5rem 2.5rem;
}
@media (max-width: 39.75rem) {
  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem 0.625rem;
    padding: 5.625rem 1.25rem 2.5rem 1.25rem;
  }
}
