//main colors
$primary-color: #ffc107;
$switch-button-background-color: #333;
$footer-background-color: #333;
$footer-border-top-color: #555;
$main-border-top-color: #555;
$form-border-color: #dee2e6;
//light colors
$text-color-light: #000;
$subtext-color-light: #555;
$body-background-color-light: #fff;
$recipe-background-color-light: #fefefe;
$recipe-border-color-light: #dee2e6;
//dark colors
$text-color-dark: rgba(255, 255, 255, 0.95);
$subtext-color-dark: #888;
$body-background-color-dark: #1a1d20;
$recipe-background-color-dark: #24282c;
$recipe-border-color-dark: #555;
body {
  color: $text-color-light;
  background: $body-background-color-light;
  .subtext {
    color: $subtext-color-light;
  }
  i {
    color: $text-color-dark;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    color: $primary-color;
  }
  .recipe {
    border: 2px solid $recipe-border-color-light;
    background: $recipe-background-color-light;
  }
  &.theme-dark {
    color: $text-color-dark;
    background: $body-background-color-dark;
    .subtext {
      color: $subtext-color-dark;
    }
    i {
      color: $text-color-light;
    }
    input {
      color: $text-color-dark;
      background: transparent;
      &.checkbox {
        color: #fff;
        &:checked {
          background: #0d6efd;
        }
      }
      &:focus {
        color: $text-color-dark;
        background: transparent;
      }
    }
    .recipe {
      border: 2px solid $recipe-border-color-dark;
      background: $recipe-background-color-dark;
    }
  }
}
