@import "../../themes";

footer {
  padding: 40px 20px;
  border-top: 2px solid $footer-border-top-color;
  color: $text-color-dark;
  background: $footer-background-color;
  div {
    margin: 0 10px;
    img {
      width: 80px;
    }
    .app-name {
      margin-left: 10px;
    }
    ul {
      list-style: none;
      li {
        margin: 10px 0px;
        transform: translateX(-30px);
      }
    }
  }
}
