@import "../../mediaQueries";

footer {
  padding: 2rem 0 4rem 0;
}
@include mediaQuery("max", 61.9375rem) {
  .divider:nth-child(4) {
    display: none;
  }
}
@include mediaQuery("max", 41.9375rem) {
  .divider:nth-child(2) {
    display: none;
  }
}
