@import "../../themes";

main {
  min-height: 40rem;
  padding: 20px;
  img {
    width: 45%;
    margin-right: 20px;
  }
  form {
    width: clamp(250px, 450px, 550px);
    padding: 20px;
    border: 1px solid $form-border-color;
    border-radius: 10px;
    .error-checkbox {
      transform: translateX(-25px);
    }
    .register {
      padding-top: 15px;
    }
  }
}
@media (max-width: 840px) {
  img {
    display: none;
  }
}
