@import "../../../../../../colors";

.left-side {
  width: 550px;
  .title {
    font-size: 2.5rem;
    font-weight: 800;
  }
  .description {
    font-size: 1.3rem;
  }
  .feautures {
    div {
      &:first-child {
        margin-right: 50px;
      }
      p {
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
  }
  .main-color {
    color: $main-color;
  }
}
