@import "../../../../colors";

.section-1 {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transform: translate(1.875rem, -2.5rem);
    width: 18.75rem;
    height: 37.5rem;
    background: $main-color;
    box-shadow: inset 0.625rem 0.625rem 1.5625rem rgba(0, 0, 0, 0.5);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
    z-index: -1;
  }
}
@media (max-width: 67.1875rem) {
  .section-1 {
    &::after {
      display: none;
    }
  }
}
