@import "../../../../node_modules//bootstrap/scss/bootstrap.scss";
@import "../../../../node_modules//bootstrap/scss/variables.scss";
.accordion {
  border-radius: 0.3125rem;
  .accordion-header {
    padding: 1rem;
    grid-gap: 0.625rem;
    cursor: pointer;
    .icon {
      transform-origin: center;
      transition: 0.3s ease-in-out;
    }
  }
  .accordion-content {
    padding: 0.625rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
  }
  &:nth-child(1) {
    border-left: 0.25rem solid $orange-500;
    background: $orange-100;
  }
  &:nth-child(2) {
    border-left: 0.25rem solid $red-500;
    background: $red-100;
  }
  &:nth-child(3) {
    border-left: 0.25rem solid $blue-500;
    background: $blue-100;
  }
}
