$btn-background-color: #d69c14;
$btn-text-color: #000;
$ripple-background-color: #fff;
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18.75rem;
  height: 3.75rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 1.125rem;
  font-weight: 600;
  background: $btn-background-color;
  color: $btn-text-color;
  cursor: pointer;
  overflow: hidden;
  span {
    position: absolute;
    background: $ripple-background-color;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
  }
  @keyframes ripple {
    0% {
      width: 0rem;
      height: 0rem;
      opacity: 0.5;
    }
    100% {
      width: 31.25rem;
      height: 31.25rem;
      opacity: 0;
    }
  }
}
