@import "../../../../../../mediaQueries";

.right-side {
  width: 21.875rem;
  .framer-motion-paper {
    &:not(:first-child) {
      margin-top: 1.25rem;
    }
    span {
      margin-left: 1.25rem;
      font-size: 1.1rem;
    }
    .cursoir-pointer {
      cursor: pointer;
    }
  }
}
@include mediaQuery("max", 62.125rem) {
  .right-side {
    width: 34.375rem;
    margin-top: 1.875rem;
  }
}
