@import "../../../../../../commonClassed";
@import "../../../../../../mediaQueries";

.cards {
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  .card {
    img {
      cursor: pointer;
    }
    .card-title {
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .card-description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
@include mediaQuery("max", 43.375rem) {
  .cards {
    .card {
      margin: 0 auto;
    }
  }
}
