.links {
  ul {
    display: block;
    list-style: none;
    transform: translateY(0.5625rem);
    li {
      &:not(:last-child) {
        margin-right: 0.625rem;
      }
    }
  }
}
@media (max-width: 52.5rem) {
  .links {
    display: none;
  }
}
