@import "../../../../node_modules//bootstrap/scss/bootstrap.scss";
@import "../../../../node_modules//bootstrap/scss/variables.scss";
.accordion {
  border-radius: 5px;
  .accordion-header {
    padding: 16px;
    grid-gap: 10px;
    cursor: pointer;
    .icon {
      transform-origin: center;
      transition: 0.3s ease-in-out;
    }
  }
  .accordion-content {
    padding: 10px;
    padding-left: 48px;
    margin-bottom: 16px;
  }
  &:nth-child(1) {
    border-left: 4px solid $orange-500;
    background: $orange-100;
  }
  &:nth-child(2) {
    border-left: 4px solid $red-500;
    background: $red-100;
  }
  &:nth-child(3) {
    border-left: 4px solid $blue-500;
    background: $blue-100;
  }
}
