@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.login-container {
  min-height: 800px;
  form {
    width: clamp(15.625rem, 28.125rem, 34.375rem);
    margin: 0.9375rem;
    padding: 0.9375rem;
    border: 0.0625rem solid $gray-500;
    border-radius: 0.625rem;
    box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(0, 0, 0, 0.2);
    button {
      margin-bottom: 0.625rem;
    }
  }
  .logo {
    top: 1.25rem;
    left: 1.25rem;
    width: 3.125rem;
  }
  .page-image {
    filter: drop-shadow(0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.4));
    width: 50%;
  }
}
@media (max-width: 43.75rem) {
  .page-image {
    display: none;
  }
}
