@import "../../../../colors";
@import "../../../../mediaQueries";

footer {
  ul {
    width: 10rem;
    list-style: none;
    li {
      transform: translateX(-2rem);
      &:not(:first-child) {
        margin-top: 1rem;
      }
      a {
        &.light {
          button {
            background: $link-background-color-light;
          }
        }
        &.dark {
          button {
            background: $link-background-color-dark;
          }
        }
      }
    }
  }
}
@include mediaQuery("max", 38.875rem) {
  footer {
    .links-container {
      width: 100%;
      transform: translateX(0.9375rem);
      ul {
        width: 100%;
        li {
          width: 100%;
        }
      }
    }
  }
}
