@import "../../colors";

.mobile-links {
  a {
    text-decoration: none;
    &.active {
      &.dark {
        color: $link-mobile-color-dark;
        li {
          background: $link-mobile-color-dark-active;
        }
      }
      &.light {
        color: $link-mobile-color-light;
        li {
          background: $link-mobile-color-light-active;
        }
      }
    }
    &.light {
      color: $link-mobile-color-light;
    }
    &.dark {
      color: $link-mobile-color-dark;
    }
  }
}
header {
  height: 70px;
  z-index: 1;
  &.light {
    background: $header-background-color-light;
    border-bottom: 1px solid $border-bottom-light;
  }
  &.dark {
    background: $header-background-color-dark;
    border-bottom: 1px solid $border-bottom-dark;
  }
  .menu {
    display: none;
  }
  a {
    &.light {
      button {
        background: $link-background-color-light;
      }
    }
    &.dark {
      button {
        background: $link-background-color-dark;
      }
    }
    img {
      height: 35px;
    }
  }
}

@media (max-width: 840px) {
  header {
    .menu {
      display: flex;
      margin-right: 5px;
    }
  }
}
