@import "../colors.scss";

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 0.3125rem;
  width: 18.75rem;
  outline: 0.1875rem solid $app-border-color;
  outline-offset: 0.3125rem;
  padding: 0.9375rem;
  background: $app-background-color;
  .code {
    text-align: center;
    font-size: 1.5625rem;
    letter-spacing: 0.9375rem;
    margin-top: 0.625rem;
  }
  .checked {
    padding-top: 0.9375rem;
    text-align: center;
    .correct {
      color: $correct-code-color;
    }
    .wrong {
      color: $wrong-code-color;
    }
  }
  .submit {
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1.0625rem;
    color: $app-background-color;
    background: $check-button-background-color;
    cursor: pointer;
  }
  .regenerate {
    border: none;
    outline: none;
    background: none;
    color: $app-border-color;
    cursor: pointer;
    transition: 0.3s all;
  }
  .regenerate:hover {
    color: $regenerate-button-hover;
  }
}
