@import "../../themes";
$text-color-sun-active: #000;
$text-color-active-moon: rgba(255, 255, 255, 0.95);

.toggle-theme {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  transition: 0.3s all;
  input {
    width: 60px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    &:checked ~ span {
      transform: translate(34px, 3.5px);
    }
    &:not(:checked) ~ .bi-brightness-high {
      color: $text-color-sun-active;
    }
    &:checked ~ .bi-moon {
      color: $text-color-active-moon;
    }
  }
  i {
    top: 27px;
    z-index: 2;
    &.bi-brightness-high {
      top: 27.5px;
      transform: translateX(6px);
    }
    &.bi-moon {
      right: 25px;
    }
  }
  span {
    width: 23px;
    aspect-ratio: 1/1;
    transform: translate(3px, 3.5px);
    z-index: 1;
    transition: 0.3s all;
  }
}
