@import "../../themes";

.toggle-theme {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  transition: 0.3s all;
  input {
    width: 60px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    &:checked ~ span {
      transform: translate(34px, 3.5px);
    }
  }
  span {
    width: 23px;
    aspect-ratio: 1/1;
    transform: translate(3px, 3.5px);
    z-index: 1;
    transition: 0.3s all;
  }
}
