//main color
$main-color: #2196f3;

//dark
//Header
$header-background-color-dark: #121212;
//Search bar
$search-background-color-dark: #141a1f;
$search-border-color-dark: #444;
//Links
$link-background-color-dark: #1a222a;
///mobile
$link-mobile-color-dark: #b0b8c3;
$link-mobile-color-dark-active: #454545;
//Border bottom
$border-bottom-dark: #1e252a;

//light
//Header
$header-background-color-light: #fff;
//Search bar
$search-background-color-light: #f3f6f9;
$search-border-color-light: #dae2ec;
$search-icon-background-color: #fff;
//Links
$link-background-color-light: #f6fafd;
///mobile
$link-mobile-color-light: #1c2025;
$link-mobile-color-light-active: #f5f5f5;
//Border bottom
$border-bottom-light: #e5eaf2;
